java/jaxws_project02/src/wsdl/helloworld.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:tns="http://jaxws.sc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://jaxws.sc.com/">

	<xs:element name="sayHello" type="tns:sayHello" />

	<xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />

	<xs:complexType name="sayHello">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="sayHelloResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>